#order{
    .desc{
        height:40px;
        background:#3975ce;
        line-height:40px;
        padding:0 20px;
        color:#fff;
        .descIcon{
            font-size: 30px;

        }
        span{
            font-size:20px;
            margin-left:10px;
            
        }
    }
    .orderDetail{
        width:50%;
        // .pannelHeader{
        //     height:30px;
        // }
        img{
            width:60px;
            height:auto;
        }
    }
}