.ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    overflow: hidden;
    border:1px solid red;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .slick-dots  li{
      color:red;
      background-color:red;
  }