@import '~antd/dist/antd.css';

#app{
    .v-header{
      background:rgb(41,78,128);
       padding: 0 ;
       height:100px;
       .trigger{
           font-size: 18px;
       }
       .header-right{
           float: right;
           color:#fff;
           font-size: 16px;
           
           span{
            display: inline-block;
            margin:0 20px;
             }
           .exit{
               margin-right: 20px;
               font-size:18px;
               &:hover{
                   color:#e39458
               }
             }
       }
    // 
    //  
    }
}

