@import '~antd/dist/antd.css';

#app{
    // border:1px solid red;
    background:url('./imgs/bj5.jpeg') no-repeat;
    background-size: 100% 100%;
    .ant-layout{
        background:none;
    }
    .v-header{
          background:#e6f7ff;
          display: flex;
          color:#1890ff;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          opacity: 0.5;
           height:55px;
           .trigger{
               font-size: 18px;
           }
           .header-right{
            //    height:40px;
               color:#1890ff;
               display: flex;
               font-weight: 700;
               flex-direction: column;
               .exit{
            
                 }
               span{
                   line-height: 20px
               }
               &:hover{
                color:#ff7600
            }
           }
        }
}

